
p {
    /*text-align: center;*/
}

h2 {

    /*text-align: center;*/
    color:cadetblue;
}
#one , #two , #three, #four {margin: 20px}
.flex-container {
    display: flex;
    flex-direction: row ;

}



img {
    max-width:100%;
    height:auto;
}



@media (max-width: 800px) {
    .flex-container {
        flex-direction:row;
    }
    #one , #two , #three, #four {margin: 0}
}

