
p{


    color: white;
}
h3,h1{
    color: white;
}
.flex-container {
    display: flex;
    flex-direction: column ;

}




#one,#two,#three{
    color: white;
}
body{
    background-color: royalblue;
    align-content: center;
    font-family:Arial;
}
#one{
    padding: 0;
}
img {
    max-width:100%;
    height:auto;
}

table, th,td {
    border: 1px solid black;
    border-right-style:hidden;
    border-left-style:hidden;
    border-bottom-style: hidden;
    border-top-style: hidden;
}
#two{
    text-align: left;
}
#three{
position: absolute;
right:    0;
bottom:   0;
padding: 20px}

.next {

    color: white;
    font-size: xx-large;

}
